p {
	color: #666666;
  font-family: 'PT Sans', Helvetica, sans-serif;
}
h1{
	font-family: 'PT Serif', Georgia, serif;
	color: black;
}

/*Navigation style*/

nav ul {
	font-family: 'Merriweather Sans',Helvetica, sans-serif;
	color:white;
	list-style: none;
	margin: 0px;
	background-color: BLACK;
	padding:0px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}


nav ul a {
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	margin: 5px;
}


nav ul li{
padding: 0;
}

.pic1, .pic2, .pic3{
	display: none;
}
.intro{
	display: block;
}

.home{
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	margin: 0;
}

img {
	border: none;
	width:100%;
}

.forwide{
	display: none;
}

/*-------end of header----------------*/

.atitle{
	font-family: 'PT Sans', Helvetica, sans-serif;
	color: black;
	font-size: 24px;
	font-weight: bold;
	padding:0;
}

article{
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}
article:last-of-type{
	border-bottom: none;
}

.articlehead{
	background: #1e3030;
	display: block;
	color:white;
	font-weight: bold;
	font-size: 18px;
	padding:8px;
}

footer{
	display: block;
	font-size:10px;
	color:black;
	font-style: italic;
	border-top:1px solid black;
}

/*These styles activate when the page is larger than 800px wide*/

@media screen and (min-width: 450px) {
	nav ul{
		flex-direction: row;
		justify-content:space-between;
		align-items: baseline;
  	}
		nav ul li{
			padding: 10px;
		}
		.pic1, .pic2, .pic3, .pic4{
			display: block;
		}
		.intro{
			display: grid;
			grid-template-columns: 250px 1fr 1fr;
			grid-gap: 5px;
			grid-template-areas:
			"a b c"
			"a d e";
			margin-top: 5px;
		}

		.words{
			grid-area:a;
		}
		.pic1 {
			grid-area:b;
		}
		.pic2 {
			grid-area:c;
		}
		.pic3 {
			grid-area:d;
		}
		.pic4 {
			grid-area:e;
		}
		.forwide{
			display: none;
		}
}

@media screen and (min-width: 600px) {

  #container{
    width: 95%;
		margin-left:auto;
		margin-right:auto;
  }
	.intro{
		padding-left: 10px;
	}
	article{
		padding-left: 10px;
		padding-right: 10px;
	}
	.forwide{
		display: none;
	}
}
@media screen and (min-width:800px) {

  .home{
    margin-right:auto;
  }
  nav ul li{
    margin: 5px;
  }
	.pic1, .pic2, .pic3{
		display: none;
	}
	.intro{
		display: block;
	}
	#container{
		width:95%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap:0;
		grid-template-areas:
		"a b b b";
	}
	.intro{
		grid-area:a;
		border-right: 1px solid black;
		padding-right:15px;
	}
	.story{
		grid-area:b;
		margin-left: 0;
		padding-left: 3px;
	}
	.forwide{
		display: block;
	}
	.articlehead{
		display: none;
	}
	.atitle {
		margin-top: 35px;
	}

}
