p {
	color: #666666;
  font-family: 'PT Sans', Helvetica, sans-serif;
}
h1,h6,h3{
	font-family: 'PT Serif', Georgia, serif;
}
h1 {
	color: #1f3d7a;
}
h6{
	font-size: 10px;
	color: #666666;
}
h3{
	font-size: 18px;
	color: #1f3d7a;
}

/*Navigation style*/

.navigation {
	font-family: 'Merriweather Sans',Helvetica, sans-serif;
	list-style: none;
	margin: 0px;
	background-color: #00b8e6;
	padding:0px;
	display: flex;
	flex-direction:column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color: white;
		text-align: center;
		padding: 5px;
		margin: 5px;

}


img {
	border: none;
	width:100%;
}
/*Colors for different parts of page*/
header{
	background: #b9f2ff;
}

footer{
	background:#27c4ff;
	border-top: 1px solid #4775d1;
	font-size:10px;
	color:black;
	font-style: italic;
	margin: 0;
}

article{
	background: #b3b6ff;
}

.aside1{
	background: #b1d4ff;
}
.aside2{
	background: #ff99d1;
}
.caption{
	font-size: 12px;
	text-align:right;
	font-style: italic;
	margin-top:0;
	margin-bottom: 0;
}
/*Setting up flexible boxes for our content*/
.wrapper{
	display: flex;
	flex-flow: row wrap;
}

header, article, aside, footer{
	flex: 1 100%;
	padding: 10px;
}

/*These styles activate when the page is larger than 800px wide*/

@media (min-width:800px) {
	.navigation {
		flex-flow: row wrap;
		justify-content:space-around;
	}
	.navigation a {
		border: none;
	}
	.navigation a:hover{
		background: #00ace6;
	}
	aside{
		flex:1;
	}
	article{
		flex:3 0px;
	}
	.aside1{
		order: 1;
	}
	article{
		order: 2;
	}
	.aside2{
		order:3;
	}
	footer{
		order:4;
	}
	article {
		display: flex;
		flex-flow: row nowrap;
	}
	.image{
		width:50%;
		margin-right: 10px;
	}
	.joke{
		width:50%;
	}
  .first {
		margin-top:0;
	}
}
